<div class="card">
    <p-card header="Trello" [style]="{ width: '25%' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
        </ng-template>
        <p>
            Este proyecto tiene con funcion ser una copia de trello, enfocandose en la implementacion del drag and drop 
        </p>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Ir" class="w-full" styleClass="w-full" routerLink="/treedrop"/>
            </div>
        </ng-template>
    </p-card>
</div>
